.toDoItem {
  position: relative;
  display: flex;
  width: 300px;
  height: 70px;
  box-shadow: 0 0 7px 0;
  align-items: center;
  background-color: #fff;
  input,
  p {
    margin-left: 20px;
  }
  svg.active {
    position: absolute;
    right: 15px;
    display: flex;
  }
  svg {
    display: none;
  }
}
.non-active {
  display: none;
}
